*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-family: georgia;
    font-weight: normal;
    margin: auto;
    
}

header{
    width: 100%;
    display: block;
    align-items: center;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header-top{
    width: 100%;
    height: 30px;
    background-color: #55415f;
    
}
.header-top .first{
    float: right; 
    margin-right: 20px;
    
    
}

.header-top .first a{
    float: left;
    color: #ffffff;
    font-size: 11px;
    line-height: 30px;
   
}


.header-bottom{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    line-height: 30px;
    padding-top: 30px;
   
}
.header-bottom .logo{
    float: left;
    margin-left: 20px;
    text-align: left;
    
}
.header-bottom .logo .top{
    font-size: 26px;
    color: #000000;
    
}
.header-bottom .logo .bottom{
    font-size: 12px;
    color: #999999;

}
.header-bottom .container{
    float: right;
    margin-right: 20px; 
    width: 550px;
    
    
}

.header-bottom .container hr{
   
    border: 0;
    height: 1px;
    border-top: 1px solid #ebebeb;
    
}
.second {
    display: flex; 
    list-style: none;
    justify-content: space-between;
    padding-bottom: 5px;
   
    
}
.second a{
    color: #333333;
    font-size: 12px;
    padding-bottom: 5px;
}

.second a:hover{
    border-bottom: 2px solid #55415f;
}

.body-top{
    width: 100%;
    height: 420px;
    background-color: #ebebeb;
    position: relative; 
    
}

.wrapper{
    padding: 0 10%;
}
.body .slide{
    position: absolute;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    bottom: 0;
    display: flex;
    
    
}

.body .slide .left1{
    justify-content: left
  
}

.body .slide .right1{
   justify-content: right;
}

.body .body-top .left{
    float: left;
}

.body-top .left img{
    margin-left: 20px;
    margin-top: 25px;
}

.body .body-top .right{
    float: right;
    width: 400px;
    margin-top: 150px;
    margin-right: 20px;

}
.body .body-top .right p{
    color: #999999;
}

.body .body-top .right a{
    border: 1px solid #55415f;
    border-radius: 5px;
    background-color: #55415f;
    color: #ffffff;
    font-size: 16px;
    padding: 5px;
}
.body .body-bottom .div1{
    display: flex;
    
}

.body .body-bottom .div1 .col{
   
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.body-bottom .div1 .col hr{
    border: 0;
    height: 1px;
    border-top: 1px solid #d7d7d7;
    width: 200px;
    /* margin-left: 90px; */
}
.body-bottom .div1 .col div{
    width: 64px;
    height: 64px;
    background-color: #353535;
    /* margin-left: 150px; */
    margin-top: 20px;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 12px;
    line-height: 64px;
    
}
.body-bottom .div1 .col h4{
    padding-bottom: 25px;
}
.body-bottom .div1 .col p{
    padding-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.body-bottom .div2 p{
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.body-bottom .div3{
    
    display: flex;
    margin-left: 20px;
    justify-content: center;
    
}
.body-bottom .div3 .col2{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    text-align: left;
}
.body-bottom .div3 .col2 .image{
    width: 225px;
    height: 140px;
    background-color: #353535;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 18px;
    line-height: 140px;
    text-align: center;
    
}
.body-bottom .div3 .col2 p{
    font-size: 18px;
    
}
 
.body-bottom .div3 .col2 a{
    font-size: 13px;
    color: #55415f;
}



.footer hr{
    border: 1px solid;
    border-top: 1px solid #000000;
    border-bottom: 2px solid #3a3a3a;

}
.footer-top{
    height: 250px;
    background-color: #222222;
    padding-top: 10px;
}    
.footer-top ul{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

.footer-top ul li{
    width: 100%;
}

.footer-top ul li .p1{
    color: #ffffff;
    font-size: 18px;
}
.footer-top ul li .p2{
    color: #9f81a9;
    font-size: 13px;
}
.footer-top ul li .p3{
    font-size: 10px;
    color: #807d77;
}
.footer-top ul li .p4{
    color: #807d77;
    font-size: 12px;
    text-align: left;
    width: 300px;
}

.footer-top ul li .ul1{
    display: flex;
    flex-direction: column;
    
    
}
.footer-top ul li .ul1 li{
    margin-left: -20px;
}


input[type=text]{
    background-color: #353535;
    border: 1px solid #353535;
    border-radius: 5px;
    width: 240px;
    height: 30px;
}
input[name=txtHoDem]{
    color: #a7a39b;
    padding-left: 10px;
    font-family: georgia;
}
input[name=txtEmail]{
    color: #a7a39b;
    padding-left: 10px;
    font-family: georgia;
}
input[type=submit]{
    width: 90px;
    height: 30px;
    background-color: #9f81a9;
    border: 1px solid #9f81a9;
    border-radius: 5px;
    font-family: georgia;
}
input[value=SUBMIT]{
    color: #ffffff;
    font-weight: bold;
}
.footer-bottom{

    height: 60px;
    background-color: #202020;
}
.footer-bottom .p1, .p2{
    color: #807d77;
    line-height: 60px;
   
}

.footer .footer-bottom .p1{
    float: left;
    margin-left: 20px;
}
.footer .footer-bottom .p2{
   float: right;
   margin-right: 20px;
}
